<div data-bind="with: cooking" class="cooking-component">

    <div class="header">
        <button class="btn btn-default return-button" data-bind="click: returnToMain">Return</button>
        <p class="title">Cooking details</p>
    </div>

    <div class="col-sm-6" data-bind="with: dish">
        <img class="card-img-top" data-bind="attr: { src: image, alt: name }">
        <div class="card-block">
            <h4 class="card-title" data-bind="text: name"></h4>
            <p class="card-text" data-bind="text: description"></p>
        </div>
        <div class="card-footer">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <label data-bind="text: time"></label>
            <label>&nbsp;min</label>
            <div class="toast">
                <small data-bind="text: difficultyText"></small>
                <small>level</small>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Look what is cooking</h4>
                <video data-bind="attr: { srcObject: window.stream }" width="520" height="240" autoplay controls></video>
                <p class="card-text"><small class="text-muted">Started 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6"></div>
    <div data-bind="visible: settings.useChat" class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div id="buttons">
                    <button id="startButton" class="btn btn-primary">Start</button>
                    <button id="sendButton" class="btn btn-primary" disabled>Send</button>
                    <button id="closeButton" class="btn btn-primary" disabled>Stop</button>
                </div>
                <div id="sendReceive">
                    <div id="send" class="card col-sm-6 card">
                        <h5>Send</h5>
                        <textarea cols="30" rows="3" id="dataChannelSend" disabled placeholder="Press Start, enter some text, then press Send."></textarea>
                    </div>
                    <div id="receive" class="card col-sm-6 card">
                        <h5>Receive</h5>
                        <textarea cols="30" rows="3" id="dataChannelReceive" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
