<div data-bind="with: cooking" class="cooking-component">

    <div class="header">
        <!-- ko if: !chefIsMe -->
        <button class="btn btn-default" data-bind="click: returnToMain">Return</button>
        <!-- /ko -->
        <!-- ko if: chefIsMe -->
        <button class="btn btn-warning" data-bind="click: giveUp">Give up!</button>
        <!-- /ko -->
    </div>
    
    <div class="col-sm-6">
        <h4>Cooking details</h4>
        <div data-bind="template: { name: 'recipe-card', data: dish }"></div>
    </div>

    <!-- ko if: chefIsMe -->

    <div class="col-sm-6" data-bind="visible: settings.useCamera">
        <h4>My cooking is emitting live!</h4>
        <div class="card fullsize">
            <div class="card-body">
                <video class="fullsize" autoplay controls></video>
            </div>
            <div class="card-footer">
                <div>
                    <span class="glyphicon glyphicon-camera" aria-hidden="true" data-bind="style: { color: settings.useCamera ? 'white' : 'grey' }"></span>
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true" data-bind="style: { color: settings.useMicrophone ? 'white' : 'grey' }"></span>
                    <span class="glyphicon glyphicon-comment" aria-hidden="true" data-bind="style: { color: settings.allowChat ? 'white' : 'grey' }"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- /ko -->
</div>
