<div class="card-deck" data-bind="foreach: cookings">
    <div class="card" data-bind="click: $parent.viewCooking.bind($data)">
        <div class="card-header">
            <h5 data-bind="text: chef.displayName"></h5>
            <small>is cooking</small>
            <b data-bind="text: dish.name"></b>
        </div>
        <img class="card-img-top" data-bind="attr: { src: dish.image, alt: dish.name }">
        <div class="card-block">
            <p class="card-text" data-bind="text: dish.description"></p>
            <div>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <label data-bind="text: dish.time"></label>
                <label>&nbsp;min</label>
            </div>
            <div>
                <small data-bind="text: dish.difficultyText"></small>
                <small>level</small>
            </div>
        </div>
        <div class="card-footer">
            <div class="time row">
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <small data-bind="text: 'started: ' + timeStarted"></small>
                </div>
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <small data-bind="text: 'cooking: ' + currentTime()"></small>
                </div>
            </div>
            <div>
                <span class="glyphicon glyphicon-camera" aria-hidden="true" data-bind="style: { color: settings.useCamera ? 'white' : 'grey' }"></span>
                <span class="glyphicon glyphicon-volume-up" aria-hidden="true" data-bind="style: { color: settings.useMicrophone ? 'white' : 'grey' }"></span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true" data-bind="style: { color: settings.allowChat ? 'white' : 'grey' }"></span>
            </div>
            <div data-bind="css: { live2: status() == 3 }">
                <small data-bind="text: statusText"></small>
            </div>
        </div>
    </div>
</div>
