<div data-bind="with: newCooking" class="new-cooking-component">
    <div class="header">
        <img class="logo" src="./Content/images/chef.png">
        <p class="title">Let's cook together!</p>
        <button class="btn btn-default" data-bind="click: returnToMain">I changed my mind</button>
    </div>
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="recipeName" class="col-sm-2 col-form-label">Name of recipe</label>
                <div class="col-sm-10">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="recipeName" data-bind="options: recipes, optionsText:'name', value:selectedRecipe, optionsCaption:'Choose...'">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="duration" class="col-sm-2 col-form-label">Duration of cooking</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="duration" placeholder="Duration" data-bind="value: time(), visible: selectedRecipe() != null">
                </div>
            </div>
            <div class="form-group row">
                <label for="ingredients" class="col-sm-4 col-form-label">Ingredients</label>
                <!--<div class="col-sm-10" data-bind="foreach: ingredients">
                    <div type="text" class="form-control" id="ingredients" placeholder="Ingredients" rows="4" data-bind="text: name "/>
                </div>-->
                <table class="col-sm-6 table-responsive table-sm table-hover table-striped table-bordered text-center" data-bind="visible: selectedRecipe() != null">
                    <thead class="text-info">
                        <tr><th class="text-center">Name</th><th class="text-center">Quantity</th><th class="text-center">QuantityType</th></tr>
                    </thead>
                    <tbody data-bind="foreach: ingredients">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: quantity"></td>
                            <td data-bind="text: quantityType"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group row">
                <label for="difficultyLevel" class="col-sm-2 col-form-label">Difficulty level</label>
                <div class="col-sm-10"  data-bind="visible: selectedRecipe() != null">
                    <!--<input type="text" class="form-control" id="duration" placeholder="Difficulty level" data-bind="value: difficultyLevel()">-->
                    <label class="col-sm-3"><input class="col-sm-3" type="radio"  data-bind="checked: difficultyLevel() == 1, checkedValue: true" />Easy(Beginner)</label>
                    <label class="col-sm-3"><input class="col-sm-3" type="radio"  data-bind="checked: difficultyLevel() == 2, checkedValue: true" />Intermediate</label>
                    <label class="col-sm-3"><input class="col-sm-3" type="radio"  data-bind="checked: difficultyLevel() == 3, checkedValue: true" />Difficult</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: useMicrophone"> Use microphone
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="select" data-bind="visible: useMicrophone() == true">
                    <label for="audioSource" class="col-sm-2">Audio input source: </label>
                    <select id="audioSource" class="col-sm-10"></select>
                </div> 
            </div>
            <div class="form-group row">
                <div class="select" data-bind="visible: useMicrophone() == true">
                    <label for="audioOutput" class="col-sm-2">Audio output destination: </label>
                    <select id="audioOutput" class="col-sm-10"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: useCamera"> Use camera
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="select" data-bind="visible: useCamera() == true">
                    <label for="videoSource" class="col-sm-2">Video source: </label>
                    <select id="videoSource" class="col-sm-10"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: useChat"> Use chat
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> I need help
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" id="startCooking" class="btn btn-primary btn-lg" disabled data-bind="click:startCooking">Start cooking</button>
                </div>
            </div>
        </form>
    </div>

    <div class="footer-new-cooking"></div>
</div>