<div data-bind="with: newCooking" class="poster new-cooking-component">

    <div>
        <img class="logo" src="./Content/images/chef.png">
        <form class="form-horizontal">
            <h1>Let's cook together!</h1>

            <div class="wizard">
                <span class="glyphicon glyphicon-chevron-left wizard-nav col-xs-1" data-bind="click: activatePage.bind($data, -1)"></span>
                <div class="wizard-pages col-xs-10">
                    <div class="wizard-page" data-bind="visible: activePage() == 1">
                        
                        <h3>Choose your dish</h3>

                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    A fine selection of our recipes
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: recipes">
                                    <li data-bind="click: $parent.selectRecipe.bind($data)"><a href="#" data-bind="text: name"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- ko if: selectedRecipe() -->
                        <div data-bind="template: { name: 'recipe-card', data: selectedRecipe }"></div>

                        <!-- /ko -->

                    </div>
                    <div class="wizard-page" data-bind="visible: activePage() == 2">
                        
                        <h3>Set media options</h3>

                        <div class="form-group row">
                            <button type="button" class="btn btn-default" data-toggle="button" data-bind="toggle: useMicrophone">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" data-bind="visible: useMicrophone"></span>&nbsp;&nbsp;Use microphone
                            </button>
                        </div>

                        <div class="form-group row">
                            <div class="select" data-bind="visible: useMicrophone() == true">
                                <label for="audioSource" class="col-sm-2">Audio input source: </label>
                                <select id="audioSource" class="col-sm-10" data-bind="options: audioInputs, optionsText: 'label', value: selectedAudioInput"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="select" data-bind="visible: useMicrophone() == true">
                                <label for="audioOutput" class="col-sm-2">Audio output destination: </label>
                                <select id="audioOutput" class="col-sm-10" data-bind="options: audioOutputs, optionsText: 'label', value: selectedAudioOutput"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <button type="button" class="btn btn-default" data-toggle="button" data-bind="toggle: useCamera">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" data-bind="visible: useCamera"></span>&nbsp;&nbsp;Use camera
                            </button>
                        </div>
                        <div class="form-group row">
                            <div class="select" data-bind="visible: useCamera() == true">
                                <label for="videoSource" class="col-sm-2">Video source: </label>
                                <select id="videoSource" class="col-sm-10" data-bind="options: videoInputs, optionsText: 'label', value: selectedVideoInput"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <button type="button" class="btn btn-default" data-toggle="button" data-bind="toggle: useChat">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" data-bind="visible: useChat"></span>&nbsp;&nbsp;Use chat to communicate with others
                            </button>
                        </div>

                        <div class="form-group row">
                            <button type="button" class="btn btn-default" data-toggle="button" data-bind="toggle: allowHelp">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" data-bind="visible: allowHelp"></span>&nbsp;&nbsp;Allow that someone is helping me via audio or video
                            </button>
                        </div>

                    </div>
                </div>
                <span class="glyphicon glyphicon-chevron-right wizard-nav col-xs-1" data-bind="click: activatePage.bind($data, +1)"></span>
            </div>

            <div class="form-group footer">
                <button class="btn btn-primary" type="submit" data-bind="click: startCooking, enable: selectedRecipe">Start cooking</button>
                <button class="btn btn-default" type="button" data-bind="click: returnToMain">I changed my mind</button>
            </div>
        </form>
    </div>
</div>