<div data-bind="with: newCooking" class="new-cooking-component">
    <div class="header">
        <img class="logo" src="./Content/images/chef.png">
        <p class="title">Let's cook together!</p>
        <button class="btn btn-default" data-bind="click: returnToMain">I changed my mind</button>
    </div>
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="recipeName" class="col-sm-2 col-form-label">Name of recipe</label>
                <div class="col-sm-10">
                    <select id="recipeName" data-bind="options: recipes, optionsText: 'name', value: selectedRecipe, optionsCaption: 'Choose...'"></select>
                </div>
            </div>

            <!-- ko if: selectedRecipe() -->

            <div class="form-group row">
                <label for="duration" class="col-sm-2 col-form-label">Duration of cooking</label>
                <div class="col-sm-10">
                    <span data-bind="text: selectedRecipe().time"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="ingredients" class="col-sm-4 col-form-label">Ingredients</label>
                <table class="col-sm-6 table-responsive table-sm table-hover table-striped table-bordered text-center">
                    <thead class="text-info">
                        <tr><th class="text-center">Name</th><th class="text-center">Quantity</th><th class="text-center">QuantityType</th></tr>
                    </thead>
                    <tbody data-bind="foreach: selectedRecipe().ingredients">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: quantity"></td>
                            <td data-bind="text: quantityType"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group row">
                <label for="difficultyLevel" class="col-sm-2 col-form-label">Difficulty level</label>
                <div class="col-sm-10">
                    <span data-bind="text: selectedRecipe().difficultyText"></span>
                </div>
            </div>

            <!-- /ko -->

            <!-- Settings -->
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: useMicrophone"> Use microphone
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="select" data-bind="visible: useMicrophone() == true">
                    <label for="audioSource" class="col-sm-2">Audio input source: </label>
                    <select id="audioSource" class="col-sm-10" data-bind="options: audioInputs, optionsText: 'label', value: selectedAudioInput"></select>
                </div> 
            </div>
            <div class="form-group row">
                <div class="select" data-bind="visible: useMicrophone() == true">
                    <label for="audioOutput" class="col-sm-2">Audio output destination: </label>
                    <select id="audioOutput" class="col-sm-10" data-bind="options: audioOutputs, optionsText: 'label', value: selectedAudioOutput"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: useCamera"> Use camera
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="select" data-bind="visible: useCamera() == true">
                    <label for="videoSource" class="col-sm-2">Video source: </label>
                    <select id="videoSource" class="col-sm-10" data-bind="options: videoInputs, optionsText: 'label', value: selectedVideoInput"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: useChat"> Use chat
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-bind="checked: allowHelp">Allow helping hand
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg" disabled data-bind="click: startCooking, enable: selectedRecipe">Start cooking</button>
                </div>
            </div>
        </form>
    </div>
</div>