<div class="card-deck" data-bind="foreach: recipes">
    <div class="card">
        <img class="card-img-top" data-bind="attr: { src: image, alt: name }">
        <div class="card-block">
            <h4 class="card-title" data-bind="text: name"></h4>
            <p class="card-text" data-bind="text: description"></p>
        </div>
        <div class="card-footer">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <label data-bind="text: time"></label>
            <label>&nbsp;min</label>
            <div class="toast">
                <small data-bind="text: difficultyText"></small>
                <small>level</small>
            </div>
        </div>
    </div>
</div>
