<div class="users-list-component row anti-row">

    <div class="card-deck col-sm-6" data-bind="foreach: usersView">
        <div class="card">
            <div class="card-header">
                <h5 data-bind="text: displayName"></h5>
            </div>
            <div class="card-block">
                <p class="card-text text-success" data-bind="visible: isLoggedIn()">Online</p>
                <p class="card-text text-danger" data-bind="visible: !isLoggedIn()">Offline</p>
                <small data-bind="visible: $parent.communicator.userIdToConnect() == id">In a call</small>
            </div>
            <div class="card-footer" data-bind="visible: isLoggedIn">
                <div>
                    <span class="glyphicon glyphicon-earphone glyph-button" aria-hidden="true" data-bind="click: $parent.communicator.startAudioCall.bind($data), visible: !$parent.communicator.connected()"></span>
                    <span class="glyphicon glyphicon-facetime-video glyph-button" aria-hidden="true" data-bind="click: $parent.communicator.startVideoCall.bind($data), visible: !$parent.communicator.connected()"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" data-bind="with: communicator, visible: communicator.isStreaming">
        <h4>Communication with the user</h4>
        <div class="card fullsize">
            <div class="card-body" data-bind="if: intendedAction() == 1">
                <video id="localVideo" class="my-video" autoplay></video>
                <video id="remoteVideo" class="fullsize" autoplay controls></video>
            </div>
            <div class="card-body" data-bind="if: intendedAction() == 2">
                <audio id="localAudio" class="my-audio" autoplay></audio>
                <audio id="remoteAudio" class="fullsize" autoplay controls></audio>
            </div>
            <div class="card-footer">
                <div class="card-footer-header row anti-row">
                    <form class="hidden">
                        <input id="fileInput" type="file" data-bind="event: { change: handleFileInputChange.bind($data) }" />
                    </form>
                    <!--<div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>-->
                    <progress id="progressBar" max="0" value="0"></progress>
                    <div id="bitrate"></div>
                    <a id="download"></a>
                    <span id="status"></span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-remove glyph-button" aria-hidden="true" data-bind="click: stopCall.bind($data), visible: connected"></span>
                    <span class="glyphicon glyphicon-file glyph-button" aria-hidden="true" data-bind="click: sendFile.bind($data), visible: connected"></span>
                </div>
            </div>
        </div>
    </div>
</div>