.btn {
  font-size: initial;
  padding: 5px 25px 5px 25px; }

.btn-primary {
  background-color: #A70343;
  border-color: rgba(0, 0, 0, 0.3); }
  .btn-primary:active:focus, .btn-primary:focus, .btn-primary:visited, .btn-primary:active:hover, .btn-primary:hover, .btn-primary:active {
    background-color: #67203c;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 1; }
  .btn-primary.disabled, .btn-primary:active.disabled, .btn-primary:hover.disabled {
    background-color: #c899ac; }

.btn-default.active, .btn-default.active:focus {
  color: #fefafa;
  background-color: #A70343;
  border-color: rgba(0, 0, 0, 0.3); }

.btn-link {
  color: #A70343; }
  .btn-link:active:focus, .btn-link:focus, .btn-link:link, .btn-link:visited, .btn-link:active:hover, .btn-link:hover, .btn-link:active {
    color: #67203c;
    opacity: 1;
    text-decoration: none;
    outline: none; }

video {
  object-fit: cover; }

.glyph-button {
  cursor: pointer; }
  .glyph-button :hover {
    color: #A70343; }

@keyframes popeye {
  0% {
    opacity: 0;
    transform: rotate(180deg); }
  100% {
    opacity: 1;
    transform: rotate(0); } }

@keyframes slide {
  0% {
    opacity: 0;
    margin-top: initial; }
  100% {
    opacity: 1; } }

@keyframes hot {
  100% {
    color: #ffd800; } }

@keyframes hot2 {
  100% {
    color: #67203c;
    background-color: #ffd800;
    border-color: rgba(0, 0, 0, 0.3); } }

@keyframes hot-button {
  0% {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg); }
  100% {
    background-color: #ffd800;
    border-color: rgba(0, 0, 0, 0.3);
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    /*-webkit-transform: scale(1.1, 1.0);
        transform: scale(1.1, 1.0);*/ } }

.live {
  animation: infinite 1s alternate-reverse hot; }

.live2 {
  animation: infinite 1s alternate-reverse hot2; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.fullsize {
  width: 100%; }

h3 {
  font-stretch: condensed;
  color: #A70343;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 0; }

.my-video {
  width: 25%;
  position: absolute; }

.poster {
  background-image: url("../assets/backgroundImage.jpg");
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  width: 100%;
  height: 100%; }
  .poster .center {
    margin: 0 auto;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .poster .logo {
    width: 388px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: 1s ease-out 0s 1 popeye; }
  .poster h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #A70343;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    margin-top: -40px; }
  .poster form {
    background-color: #fefafa;
    margin-top: -30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    width: 600px;
    display: inline-block;
    animation: 1s alternate slide; }

.login-component {
  position: fixed;
  width: 100%;
  height: 100%; }
  .login-component h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #A70343;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    margin-top: -40px; }
    .login-component h1 .live {
      animation: infinite 1s alternate-reverse hot; }
  .login-component .col-sm-offset-2 {
    margin-left: 0px; }
  .login-component .alert {
    display: inline-block;
    margin-top: 10px; }

.main-component {
  text-align: center; }
  .main-component .navbar {
    background-color: #fefafa;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); }
    .main-component .navbar .navbar-brand {
      color: #A70343;
      margin: 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      padding: 20px 20px 0 20px; }
    .main-component .navbar .navbar-toggle {
      border: none;
      background-color: transparent; }
      .main-component .navbar .navbar-toggle:active, .main-component .navbar .navbar-toggle:hover {
        border: none;
        color: #A70343; }
    .main-component .navbar .navbar-nav > .active > a {
      color: #A70343;
      font-weight: bold;
      background-image: linear-gradient(0deg, transparent, #fefafa);
      border-bottom: 3px solid; }
    .main-component .navbar .navbar-right {
      margin-right: 0; }
  .main-component .new-cooking {
    margin-right: 10px;
    animation: infinite 1s alternate-reverse hot-button; }
  .main-component .content {
    margin-top: 50px; }
  .main-component .card .card-footer-header > div {
    padding: 0; }

.card-deck {
  display: flex;
  flex-wrap: wrap;
  padding: 10px; }
  .card-deck .card {
    cursor: pointer;
    margin: 10px;
    display: grid;
    transition: margin 0.5s;
    -webkit-transition: margin 0.5s; }
    .card-deck .card:hover {
      margin: 0px; }

.card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-color: #fefafa;
  width: 320px; }
  .card.fullsize {
    width: 100%; }
  .card .card-header {
    background-color: #A70343;
    color: #fefafa; }
  .card .card-img-top {
    background-color: #fefafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: inherit; }
  .card .card-block {
    padding: 10px; }
  .card span.glyphicon {
    font-size: 24px;
    margin-right: 5px; }
  .card .card-footer {
    color: #fefafa;
    background-color: #67203c;
    margin: 0;
    padding: 5px;
    text-align: center; }
    .card .card-footer label {
      vertical-align: text-bottom;
      font-weight: normal; }
    .card .card-footer .card-footer-header {
      margin-bottom: 5px;
      padding-bottom: 8px;
      border-bottom: 1px dashed #fefafa; }
      .card .card-footer .card-footer-header > div {
        display: inline-flex; }
      .card .card-footer .card-footer-header small {
        line-height: 24px; }
    .card .card-footer textarea {
      color: black;
      width: 100%;
      margin-left: -10px;
      margin-right: -10px; }

.anti-row {
  margin-left: 0;
  margin-right: 0; }

.new-cooking-component > div {
  display: inline-grid; }

.new-cooking-component .logo {
  width: 240px;
  margin-top: -50px; }

.new-cooking-component h1 {
  font-size: 32px;
  margin-top: -12px; }

.new-cooking-component form {
  width: 100%;
  height: 100%;
  /*min-width: 800px;*/
  /*min-height: 640px;*/ }

.new-cooking-component .wizard {
  margin-top: 12px; }
  .new-cooking-component .wizard .wizard-nav {
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s; }
    .new-cooking-component .wizard .wizard-nav:hover {
      transform: scale(1.5);
      -webkit-transform: scale(1.5); }
  .new-cooking-component .wizard .wizard-pages {
    min-height: 400px;
    text-align: initial; }

.new-cooking-component .postcard-flexible > div {
  display: flex; }

.new-cooking-component .footer {
  position: absolute;
  bottom: 0;
  width: 50%; }

.cooking-component {
  padding: 10px; }
  .cooking-component .header {
    margin-left: 16px; }
  .cooking-component .recipe .card {
    width: 100%; }
  .cooking-component .recipe img {
    width: 100%; }
  .cooking-component .video-card {
    display: grid; }
    .cooking-component .video-card .card-body > div {
      padding: 0; }
    .cooking-component .video-card .record-icon {
      color: red;
      position: absolute;
      top: 5px;
      left: 5px; }
    .cooking-component .video-card .card-footer-header {
      text-align: initial; }
      .cooking-component .video-card .card-footer-header .right-aligned {
        float: right;
        line-height: 26px;
        margin: 0;
        margin-left: 5px; }
  .cooking-component .snapshots {
    padding: 0; }
    .cooking-component .snapshots .card {
      padding: 0;
      width: 300px; }
  .cooking-component .chat-history .card-header {
    text-align: center; }
  .cooking-component .chat-history .card-body {
    height: 400px;
    position: relative;
    overflow-y: auto; }
    .cooking-component .chat-history .card-body .chat-sender {
      color: rgba(0, 0, 0, 0.3);
      font-weight: bold;
      font-size: smaller; }
    .cooking-component .chat-history .card-body .chat-text {
      font-size: smaller; }
  .cooking-component .none {
    -webkit-filter: none;
    filter: none; }
  .cooking-component .blur {
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  .cooking-component .grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  .cooking-component .invert {
    -webkit-filter: invert(1);
    filter: invert(1); }
  .cooking-component .sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1); }
  .cooking-component .need-help {
    animation: infinite 1s alternate-reverse hot-button; }

.users-list-component .card-deck .card:hover {
  margin: 10px; }

progress {
  background-color: #fff !important;
  width: 100%; }

progress::-moz-progress-bar {
  background-image: -45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%; }

progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44) !important; }

/* Smaller monitors (for tiny adjustments) */
@media (max-width: 1250px) {
  .main-component .content {
    margin-top: 100px; } }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .poster {
    background-image: none; }
    .poster .logo {
      width: 300px; }
    .poster form {
      margin: 0px;
      border: none;
      box-shadow: none;
      width: 100%;
      background-color: transparent; }
    .poster [class*='col-'] {
      padding: 0; }
    .poster button {
      font-size: large; }
  .card {
    width: 100%; }
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  #myVideo {
    width: 100%; }
  .main-component .content {
    margin-top: 40px; }
  .main-component .navbar {
    border: 0;
    margin: 0; }
    .main-component .navbar .navbar-brand {
      padding: 15px;
      padding-left: 25px; }
    .main-component .navbar .navbar-text {
      display: none; }
    .main-component .navbar .navbar-form {
      border: 0;
      margin: 0; }
    .main-component .navbar .new-cooking {
      margin: -10px 0 10px 0;
      animation: none; }
  .main-component .add-button {
    width: 10% !important;
    padding-top: 10px; }
  .container-fluid {
    padding-right: 15px; }
  .new-cooking-component > div {
    display: block; }
  .new-cooking-component.poster .logo {
    width: 250px; }
  .new-cooking-component .card-img-top {
    width: 100%; } }

