// colors:

$primary-color: #A70343;
$border-color: rgba(0, 0, 0, 0.3);
$hover-color: #67203c;
$disabled-color: #c899ac;
$panel-color: #fefafa;
$highlight-color: #ffd800;

// bootstrap overrides:

.btn {
    font-size: initial;
    padding: 5px 25px 5px 25px;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $border-color;

    &:active:focus, &:focus, &:visited, &:active:hover, &:hover, &:active {
        background-color: $hover-color;
        border-color: $border-color;
        opacity: 1;
    }

    &.disabled, &:active.disabled, &:hover.disabled {
        background-color: $disabled-color;
    }
}

.btn-default.active, .btn-default.active:focus {
    color: $panel-color;
    background-color: $primary-color;
    border-color: $border-color;
}

.btn-link {
    color: $primary-color;

    &:active:focus, &:focus, &:link, &:visited, &:active:hover, &:hover, &:active {
        color: $hover-color;
        opacity: 1;
        text-decoration: none;
        outline: none;
    }
}

video {
    object-fit: cover;
}

.glyph-button {
    cursor: pointer;

    :hover {
        color: $primary-color;
    }
}

// animations:
@keyframes popeye {
    0% {
        opacity: 0;
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        margin-top: initial;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hot {
    100% {
        color: $highlight-color;
    }
}

@keyframes hot2 {
    100% {
        color: $hover-color;
        background-color: $highlight-color;
        border-color: $border-color;
    }
}

@keyframes hot-button {
    0% {
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
    }
    100% {
        background-color: $highlight-color;
        border-color: $border-color;
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        /*-webkit-transform: scale(1.1, 1.0);
        transform: scale(1.1, 1.0);*/
    }
}

.live {
    animation: infinite 1s alternate-reverse hot;
}

.live2 {
    animation: infinite 1s alternate-reverse hot2;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.fullsize {
    width: 100%;
}

h3 {
    font-stretch: condensed;
    color: $primary-color;
    text-shadow: 2px 2px 5px $border-color;
    margin-top: 0;
}

.poster {
    background-image: url("./images/backgroundImage.jpg");
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
    height: 100%;

    .center {
        margin: 0 auto;
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 388px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        animation: 1s ease-out 0s 1 popeye;
    }

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 64px;
        font-weight: bold;
        color: $primary-color;
        text-shadow: 2px 2px 5px $border-color;
        margin-bottom: 0;
        margin-top: -40px;
    }

    form {
        background-color: $panel-color;
        margin-top: -30px;
        border-radius: 10px;
        border: 1px solid $border-color;
        -webkit-box-shadow: 0px 0px 8px $border-color;
        -moz-box-shadow: 0px 0px 8px $border-color;
        box-shadow: 0px 0px 8px $border-color;
        width: 600px;
        display: inline-block;
        animation: 1s alternate slide;
    }
}

.login-component {
    position: fixed;
    width: 100%;
    height: 100%;

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 64px;
        font-weight: bold;
        color: $primary-color;
        text-shadow: 2px 2px 5px $border-color;
        margin-bottom: 0;
        margin-top: -40px;

        .live {
            animation: infinite 1s alternate-reverse hot;
        }
    }

    .col-sm-offset-2 {
        margin-left: 0px;
    }

    .alert {
        display: inline-block;
        margin-top: 10px;
    }
}

.main-component {
    text-align: center;

    .navbar {
        background-color: $panel-color;
        -webkit-box-shadow: 0px 0px 8px $border-color;
        -moz-box-shadow: 0px 0px 8px $border-color;
        box-shadow: 0px 0px 8px $border-color;

        .navbar-brand {
            color: $primary-color;
            margin: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            padding: 20px 20px 0 20px;
        }

        .navbar-toggle {
            border: none;
            background-color: transparent;

            &:active, &:hover {
                border: none;
                color: $primary-color;
            }
        }

        .navbar-nav > .active > a {
            color: $primary-color;
            font-weight: bold;
            background-image: linear-gradient(0deg, transparent, $panel-color);
            border-bottom: 3px solid;
        }

        .navbar-right {
            margin-right: 0;
        }
    }

    .new-cooking {
        margin-right: 10px;
        animation: infinite 1s alternate-reverse hot-button;
    }

    .content {
        margin-top: 50px;
    }
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    .card {
        cursor: pointer;
        margin: 10px;
        display: grid;
        transition: margin 0.5s;
        -webkit-transition: margin 0.5s;

        &:hover {
            margin: 0px;
        }
    }
}

.card {
    border: 1px solid $border-color;
    -webkit-box-shadow: 0px 0px 8px $border-color;
    -moz-box-shadow: 0px 0px 8px $border-color;
    box-shadow: 0px 0px 8px $border-color;
    background-color: $panel-color;
    width: 320px;

    &.fullsize {
        width: 100%;
    }

    .card-header {
        background-color: $primary-color;
        color: $panel-color;
    }

    .card-img-top {
        background-color: $panel-color;
        border-bottom: 1px solid $border-color;
        width: -webkit-fill-available;
    }

    .card-block {
        padding: 10px;
    }

    span.glyphicon {
        font-size: 24px;
        margin-right: 5px;
    }

    .card-footer {
        color: $panel-color;
        background-color: $hover-color;
        margin: 0;
        padding: 5px;
        text-align: center;

        label {
            vertical-align: text-bottom;
            font-weight: normal;
        }

        .card-footer-header {
            margin-bottom: 5px;
            padding-bottom: 8px;
            border-bottom: 1px dashed $panel-color;

            > div {
                display: inline-flex;
            }

            small {
                line-height: 24px;
            }
        }

        textarea {
            color: black;
            width: 100%;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

.anti-row {
    margin-left: 0;
    margin-right: 0;
}

.new-cooking-component {

    > div {
        display: inline-grid;
    }

    .logo {
        width: 240px;
        margin-left: -50px;
        margin-top: -50px;
    }

    h1 {
        font-size: 32px;
        margin-top: -12px;
    }

    form {
        width: 100%;
        height: 100%;
        /*min-width: 800px;*/
        /*min-height: 640px;*/
    }

    .wizard {
        margin-top: 12px;

        .wizard-nav {
            font-size: 24px;
            cursor: pointer;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
            }
        }

        .wizard-pages {
            min-height: 400px;
            text-align: initial;
        }
    }

    .postcard-flexible {
        > div {
            display: flex;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 50%;
    }
}

.cooking-component {
    padding: 10px;

    .header {
        /*margin: 10px;*/
    }

    .none {
        -webkit-filter: none;
        filter: none;
    }

    .blur {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }

    .grayscale {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    .invert {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    .sepia {
        -webkit-filter: sepia(1);
        filter: sepia(1);
    }
}

.users-list-component {

    .my-video {
        width: 25%;
        position: absolute;
    }
}

/* Smaller monitors (for tiny adjustments) */
@media (max-width: 1250px) {

    .main-component .content {
        margin-top: 100px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .poster {
        background-image: none;

        .logo {
            width: 300px;
        }

        form {
            margin: 0px;
            border: none;
            box-shadow: none;
            width: 100%;
            background-color: transparent;
        }

        [class*='col-'] {
            padding: 0;
        }

        button {
            font-size: large;
        }
    }

    .card {
        width: 100%;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .main-component {
        .content {
            margin-top: 40px;
        }

        .navbar {
            border: 0;
            margin: 0;

            .navbar-brand {
                padding: 15px;
                padding-left: 25px;
            }

            .navbar-text {
                display: none;
            }

            .navbar-form {
                border: 0;
                margin: 0;
            }

            .new-cooking {
                margin: -10px 0 10px 0;
                animation: none;
            }
        }

        .add-button {
            width: 10% !important;
            padding-top: 10px;
        }
    }

    .new-cooking-component {

        > div {
            display: block;
        }
    }
}
